*.editorconfig
Magicite-Rewritten.sln
Scripts/Assembly-CSharp/obj/Assembly-CSharp.csproj.nuget.dgspec.json
Scripts/Assembly-CSharp/obj/Assembly-CSharp.csproj.nuget.g.props
Scripts/Assembly-CSharp/obj/Assembly-CSharp.csproj.nuget.g.targets
Scripts/Assembly-CSharp/obj/project.assets.json
Scripts/Assembly-CSharp/obj/project.nuget.cache
Scripts/Assembly-CSharp/obj/Debug/net35/Assembly-CSharp.assets.cache
Scripts/Assembly-CSharp-firstpass/obj/Assembly-CSharp-firstpass.csproj.nuget.dgspec.json
Scripts/Assembly-CSharp-firstpass/obj/Assembly-CSharp-firstpass.csproj.nuget.g.props
Scripts/Assembly-CSharp-firstpass/obj/Assembly-CSharp-firstpass.csproj.nuget.g.targets
Scripts/Assembly-CSharp-firstpass/obj/project.assets.json
Scripts/Assembly-CSharp-firstpass/obj/project.nuget.cache
Scripts/Assembly-CSharp-firstpass/obj/Debug/net35/Assembly-CSharp-firstpass.assets.cache
Scripts/Assembly-UnityScript-firstpass/obj/Assembly-UnityScript-firstpass.csproj.nuget.dgspec.json
Scripts/Assembly-UnityScript-firstpass/obj/Assembly-UnityScript-firstpass.csproj.nuget.g.props
Scripts/Assembly-UnityScript-firstpass/obj/Assembly-UnityScript-firstpass.csproj.nuget.g.targets
Scripts/Assembly-UnityScript-firstpass/obj/project.assets.json
Scripts/Assembly-UnityScript-firstpass/obj/project.nuget.cache
Scripts/Assembly-UnityScript-firstpass/obj/Debug/net35/Assembly-UnityScript-firstpass.assets.cache
.config/dotnet-tools.json

# editor configs
.idea
.vs
Folder.DotSettings.user

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# Uncomment this line if you wish to ignore the asset store tools plugin
# [Aa]ssets/AssetStoreTools*

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties
